tmp/[^.]*
log/[^.]*
doc/app
doc/api
.svn
*~
public/images/tmp/*
log/*.log
tmp/**/*
tmp/*
.DS\_Store
.DS_Store
db/*.sqlite3
/log/*.pid
/coverage/*
public/system/*
.ackrc
public/assets/[^.]*
*.scssc
public/stylesheets/*.css
config/settings.yml
metadata

config/deploy/*
config/deploy.rb
config/initializers/mail.rb
config/database.yml
config/virtuoso.yml

.bundle
vendor/bundle
