$page_background: #5282a6;

$txt: #000;

$link: #000;
$header_bg: #fff;
$main_bg: #fff;
$nav_bg: #222526;
$nav_txt: #fff;
$nav_link: #fff;
$footer_bg: #222526;
$footer_txt: #fff;
$footer_link: #fff;
$page_title: #000;

$help_bg: #eef3dc;
$help_txt: #000;

$row_header_bg: #000;
$row_odd_bg: #fff;
$row_even_bg: #c5d6fa;
$row_alt_bg: #d3d3d3;
$highlight: #ffff00;

$selected_term_bg: #eabb78;
$selected_gene_bg: #fff;
$remove_txt: #b22;

$success: #e5f2cf;
$notice: #e8eaff;
$error: #ffeae8;

$pagination_bg: #fff;
$pagination_disabled_fg: #999;
$pagination_current_bg: #007a74;
$pagination_current_fg: #fff;


$adult_mouse_bg: #FFBEE5;
$biological_process_bg: #FAEBBE;
$gene_ontology_bg: #ACD8AB;
$molecular_function_bg: #DBABE3;
$cellular_component_bg: #CBCBCB;
$cell_bg: #ADB2F5;
$mamalian_phenotype_bg: #DDC367;
